language: node_js

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
  - npm install --quiet
  - npm start &
  - npm test &
  - sleep 3 # give server some time to start

script: grunt release

cache:
  directories:
    - node_modules
    - bower_components