// United 3.1.1
// Bootswatch
// -----------------------------------------------------

// Navbar =====================================================================

.navbar {
    &-default {
        .badge {
            background-color: #fff;
            color: @navbar-default-bg;
        }
    }

    &-inverse {
        .badge {
            background-color: #fff;
            color: @navbar-inverse-bg;
        }
    }
}

// Buttons ====================================================================

// Typography =================================================================

.navbar-brand {
    font-family: @font-family-condensed;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

.navbar-text > img {
    height: @line-height-computed;
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.search-box {
    width: 250px;
    margin-top: 4px;
}

ul.suggestion {
    width: 100%;
    padding: 0;
    display: table;

    > li {
        display: table-cell;
        padding: 0 5px;
    }
}

div.page-header,
div.page-header > h1 {
    margin-top: 0;
}