<div ng-controller="CompoundsCtrl" data-ng-init="initWorkbench()">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Filters
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-10 column">
            <table class="table table-hover" id="results-table">
                <colgroup>
                    <col width="1%">
                    <col width="1%">
                    <col width="48%">
                    <col width="48%">
                    <col width="2%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" ng-click="selectAllChanged()" ng-checked="allEntitiesSelected()">
                    </th>
                    <th></th>
                    <th>Name</th>
                    <th>Synonyms</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in workbenchitems | filter:removedItems">
                    <td>
                        <input type="checkbox" ng-model="item.isSelected" />
                    </td>
                    <td ng-bind-html="item.type | toEntityIcon"></td>
                    <td>{{ item.name }}</td>
                    <td>
                        <ul>
                            <li ng-repeat="synonym in item.synonyms | slice:0:4">{{synonym}}</li>
                        </ul>
                        <ul class="ng-hide">
                            <li ng-repeat="synonym in item.synonyms | slice:5:item.synonyms.length">{{synonym}}</li>
                        </ul>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="showDetails(item)">Details</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form form-inline no-padding">
                        <button type="submit"
                                class="btn btn-primary navbar-btn"
                                ng-disabled="selectedEntities().length < 1">
                            Find Targets for all selected Compounds
                        </button>
                    </form>
                </li>
                <li>
                    <form class="navbar-form form-inline">
                        <button class="btn btn-default navbar-btn"
                                ng-click="removeSelectionFromWorkbench()"
                                ng-disabled="selectedEntities().length < 1">
                            Delete from Workbench
                        </button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form form-inline no-padding">
                        <pagination total-items="totalElements"
                                    page="currentPage"
                                    on-select-page="pageSelected(page)"
                                    max-size="10"
                                    class="pagination-md pagination-navbar"
                                    rotate="false"
                                    num-pages="totalPages"
                                    boundary-links="true"></pagination>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

