<div ng-controller="TargetDetailsCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <legend>{{name}}</legend>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Type:</div>
                        <div class="col-lg-10">
                            <div id="type">{{type}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Source-ID:</div>
                        <div class="col-lg-10">
                            <div id="sourceId">{{sourceId}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Taxonomy-ID:</div>
                        <div class="col-lg-10">
                            <div id="taxonomyId">{{taxonomyId}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Synonyms:</div>
                        <div class="col-lg-10">
                            <!--textarea class="form-control" rows="3" id="synonyms"></textarea>
                            <span class="help-block">All the synonyms.</span-->
                        <ul><li id="synonyms" ng-repeat="synonym in synonyms">{{ synonym }}</li></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Binding compounds:</div>
                        <div class="col-md-10 column">
                            <table class="table table-hover" id="compound">
                                <colgroup>
                                    <col width="70%">
                                    <col width="30%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Interaction Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="bindingcompound in compounds">
                                    <td>{{ bindingcompound.compound.name }}</td>
                                    <td>{{ bindingcompound.interaction }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form form-inline no-padding">
                        <button type="button" class="btn btn-primary navbar-btn">to Workbench</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>