<div ng-controller="CompoundDetailsCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <legend>{{name}}</legend>
                    <div class="form-group">
                        <label for="type" class="col-lg-2 control-label">Type</label>
                        <div class="col-lg-10">
                            <label id="type">{{type}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Source ID</div>
                        <div class="col-lg-10">
                            <label id="sourceId">{{sourceId}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Synonyms</div>
                        <div class="col-lg-10">
                            <ul><li id="synonyms" ng-repeat="synonym in synonyms">{{ synonym }}</li></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 text-right">Binding targets</div>
                        <div class="col-lg-10">
                            <ul><li id="targets" ng-repeat="target in targets">{{ target }}</li></ul>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <form class="navbar-form form-inline no-padding">
                        <button type="button" class="btn btn-primary navbar-btn">to Workbench</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>