<form name="form" novalidate class="login-form form-horizontal">
    <div class="modal-header">
        <h4>Sign in or sign up</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-dismissable alert-warning" ng-show="authReason">{{authReason}}</div>
        <div class="alert alert-dismissable alert-danger" ng-show="authError">{{authError}}</div>
        <fieldset>
            <div class="form-group" ng-class="{'has-error':fields.username.isInvalid}">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-6">
                    <input id="username" name="username" type="text" placeholder="username" ng-disabled="isBusy()" ng-model="user.username" class="form-control input-md" required autofocus />
                    <span class="help-block" ng-show="fields.username.isInvalid">{{fields.username.message}}</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':fields.password.isInvalid}">
                <label class="col-md-4 control-label" for="pass">Password</label>
                <div class="col-md-6">
                    <input id="pass" name="pass" type="password" placeholder="password" ng-disabled="isBusy()" ng-model="user.password" class="form-control input-md" required />
                    <span class="help-block" ng-show="fields.password.isInvalid">{{fields.password.message}}</span>
                </div>
            </div>
            <div class="form-group" ng-show="user.register" ng-class="{'has-error':fields.email.isInvalid}">
                <label class="col-md-4 control-label" for="email">E-Mail</label>
                <div class="col-md-6">
                    <input id="email" name="email" type="email" placeholder="mail address" ng-disabled="isBusy()" ng-model="user.email" class="form-control input-md" />
                    <span class="help-block" ng-show="fields.email.isInvalid">{{fields.email.message}}</span>
                </div>
            </div>
            <div class="form-group" ng-show="user.register" ng-class="{'has-error':fields.displayName.isInvalid}">
                <label class="col-md-4 control-label" for="displayName">Name</label>
                <div class="col-md-6">
                    <input id="displayName" name="displayName" type="text" placeholder="display name" ng-disabled="isBusy()" ng-model="user.displayName" class="form-control input-md" />
                    <span class="help-block" ng-show="fields.displayName.isInvalid">{{fields.displayName.message}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <input id="register" name="register" type="checkbox" ng-disabled="isBusy()" ng-model="user.register" value="0" />
                    <label for="register">&nbsp;I want to sign up</label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button ng-show="user.register" class="btn btn-primary register" ng-click="register()" ng-disabled='form.$invalid || isBusy()'>sign up</button>
        <button ng-hide="user.register" class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid || isBusy()'>sign in</button>
        <button type="button" class="btn btn-default cancel" ng-disabled="isBusy()" ng-click="cancel()">cancel</button>
    </div>
</form>